VITE_SUPABASE_URL=https://zrjffedrdptgzxbmbfgn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpyamZmZWRyZHB0Z3p4Ym1mZ24iLCJyb2xlIjoiYW5vbiIsImlhdCI6MTc1NjMxNjUwOCwiZXhwIjoyMDcxODkyNTA4fQ.REPLACE_WITH_REAL_ANON_KEY
